<div class="field champion-autocomplete">
  <label for="<%= id %>"><%= label %></label>
  <input
    type="text"
    id="<%= id %>"
    name="<%= name %>"
    class="champion-autocomplete__input"
    autocomplete="off"
    autocapitalize="off"
    spellcheck="false"
    placeholder="Type to search…"
    required
    role="combobox"
    aria-autocomplete="list"
    aria-expanded="false"
    aria-controls="<%= id %>-list"
  />
  <ul class="champion-autocomplete__list" id="<%= id %>-list" role="listbox" hidden></ul>
</div>
